<!DOCTYPE html>
<html lang="en" theme-mode="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Board</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../../Assets/css/style.css">
    <link rel="stylesheet" href="../../../Assets/css/client/category.css">
</head>
<body>
    <!-- Header -->
    <header class="header"></header>

    <!-- Main Content -->
    <main class="main-content">
        <header class="text-center my-4">
            <span class="badge badge--remote" style="margin-bottom: 1rem;">Browse Roles</span>
            <h1 class="text-heading" style="font-size: 2.5rem;">Find Jobs That Match Your Skills</h1>
            <p class="text-muted">
                Discover opportunities across tech, design, marketing, and more — tailored to your career path.
            </p>
        </header>
        <div id="category_container" class="row ">
            <!-- CAtegories -->
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer-content"></footer>

    <!-- Load Header/Navigation and Footer -->
    <script src="../../layout/client_layout.js"></script>
    <script src="../../../Assets/js/mode.js"></script>
    
    <script src="../../../Assets/js/categories.js"></script>

</body>
</html>