<!DOCTYPE html>
<html lang="en" theme-mode="light">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Companies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="../../../Assets/css/style.css">
    <link rel="stylesheet" href="../../../Assets/css/client/company.css">
</head>
<body>
  <!-- Header -->
  <header class="header"></header>

  <!-- Main Content -->
  <main class="main-content mb-1">
    <header class="hero-section my-4">
        <span class="badge badge--remote" style="margin-bottom: 1rem;">
            About Our Platform
        </span>
        <h1 class="text-heading" style="font-size: 2.5rem;">
            Discover Companies That Match Your Ambition
        </h1>
        <p class="text-muted">
            Explore verified companies, understand their culture, and connect with teams that are actively hiring talent across technology, design, marketing, and more.
        </p>
    </header>
    
    <section id="company_container" class="row">
        <!-- Company Data -->
    </section>
  </main>

  <!-- Footer -->
  <footer class="footer-content">
  </footer>

  <!-- Load Header/Navigation and Footer -->
  <script src="../../layout/client_layout.js"></script>
  <script src="../../../Assets/js/mode.js"></script>
  <script src="../../../Assets/js/companies.js"></script>

</body>
</html>