<!DOCTYPE html>
<html lang="en" theme-mode="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Profile | Nexus Financial Fintech</title>
    <link rel="stylesheet" href="../../../Assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>
<body>
    <!-- Header/Navigation -->
    <header class="header"></header>

    <main class="main-content px-3">
        <div class="py-2">
            <a href="#" onclick="history.back()" class="text-muted-link">← Back to Listings</a>
        </div>

        <!-- Company Detail -->
        <div id="company_container">
            <!-- Company Detail Data -->
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer-content"></footer>

    <!-- Load Header and Footer -->
    <script src="../../layout/client_layout.js"></script>
    <script src="../../../Assets/js/mode.js"></script>
    <!-- Load Current Data -->
    <script src="../../../Assets/js/company_detail.js"></script>
</body>
</html>