<!DOCTYPE html>
<html lang="en" theme-mode="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Detail</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../../../Assets/css/style.css">
  <link rel="stylesheet" href="../../../Assets/css/client/privacy.css">
</head>
<body>

    <!-- Header Content -->
    <header class="header">
        <!-- Your navigation code can load or sit here safely -->
    </header>

    <!-- Main Content Context -->
    <main class="main-content pb-1">
        <div class="p-4">
            <a href="#" onclick="history.back()" class="text-muted-link mb-1">← Back to Listings</a>
        </div>
        <div id="job_detail_container" class="row">
            <!-- Job Detail Data -->
        </div>
    </main>

    <!-- Footer Content -->
    <footer class="footer-content"></footer>

    <!-- Script Elements -->
     <!-- Load Header/Navigation and Footer -->
    <script src="../../layout/client_layout.js"></script>
    <script src="../../../Assets/js/mode.js"></script>
    <script src="../../../Assets/js/job_detail.js"></script>

</body>
</html>