<!DOCTYPE html>
<html lang="en" theme-mode="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="../../../Assets/css/style.css">
  <link rel="stylesheet" href="../../../Assets/css/employee/layout.css">
</head>
<body>

    <header class="emp-header">
        <nav class="top-nav">
            <div class="nav-brand">JobApplication</div>
            <ul>
                <li><a href="./home.html">Profile</a></li>
                <li><a href="./jobs.html">Setting</a></li>
            </ul>
        </nav>
    </header>

    <aside class="emp-aside-nav">
        <nav class="side-nav">
            <div class="sidebar-header">Navigation</div>
            <ul>
                <li><a href="./home.html" class="active">Dashboard</a></li>
                <li><a href="./application.html">Applications</a></li>
                <li><a href="./jobs.html">Jobs</a></li>
            </ul>
        </nav>
    </aside>

    <main class="emp-main-content">
        <div class="container">
            <h1>Welcome Back</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa assumenda quas quidem tempore quisquam consequatur facilis incidunt commodi, illo similique porro repudiandae deleniti nobis vero nesciunt magni asperiores! Laborum, sunt!
            </p>
        </div>
    </main>

    <footer class="emp-footer-content">
        <p>&copy; 2026 Employer Portal. All rights reserved.</p>
    </footer>

    <!-- Script to Load Header/Footer -->
    <!-- <script src="../../Assets/js/employee_layout.js"></script> -->
    <script src="../../../Assets/js/mode.js"></script>

</body>
</html>